:root {

    /* ROOT VARIABLES */
    --color-black-100: #1B1B1E;

    --color-white-100: #fffcf2;

    --color-red-100: #A43A15;

    --color-green-100: #5A8E7D;

    --color-olive-100: #505957;


    /* TEXT VARIABLES */
    --text-color-100: var(--color-black-100);

    --text-color-light-100: var(--color-white-100);

}