/* SPACING */
:root {

    /* SPACING VARIABLES */

    --sp-0: calc(4px / 16px * 1rem);
    --sp-1: calc(8px / 16px * 1rem);
    --sp-2: calc(16px / 16px * 1rem);
    --sp-3: calc(24px / 16px * 1rem);
    --sp-4: calc(32px / 16px * 1rem);
    --sp-5: calc(40px / 16px * 1rem);
    --sp-6: calc(48px / 16px * 1rem);
    --sp-7: calc(56px / 16px * 1rem);
    --sp-8: calc(64px / 16px * 1rem);
    --sp-9: calc(72px / 16px * 1rem);
    --sp-10: calc(80px / 16px * 1rem);

    /* TEXT SIZES VARIABLES */

    --txt-0: calc(12px / 16px * 1rem);
    --txt-1: calc(16px / 16px * 1rem);
    --txt-2: calc(21px / 16px * 1rem);
    --txt-3: calc(28px / 16px * 1rem);
    --txt-4: calc(38px / 16px * 1rem);
    --txt-5: calc(50px / 16px * 1rem);
    --txt-6: calc(67px / 16px * 1rem);
    --txt-7: calc(90px / 16px * 1rem);

}
