:root {

    /* ROOT VARIABLES */
    --color-black-100: #1B1B1E;

    --color-white-100: #fffefa;

    --color-red-100: #BD4B11;

    --color-green-100: #5a8e71;

    --color-olive-100: #505957;
    --color-olive-200: #727E7B;
    --color-olive-300: #9FA7A5;
    --color-olive-400: #CDD0CF;
    --color-olive-500: #E8EAE9;


    /* TEXT VARIABLES */
    --text-color-100: var(--color-olive-100);

    --text-color-light-100: var(--color-white-100);

}