/.env
/.idea
/vendor
/storage/*
!/storage/.gitignore
!/storage/config-deltas/
!/storage/config-deltas/.gitignore
/web/uploads
*.sql
*.sql.gz
*.dump
*.sqlite
*.sqlite3
*.db
*.bak
*.backup
*.tar
*.tar.gz
*.zip
.DS_Store
