body:has(.mainnav__toggle:checked) {
    overflow: hidden;
    height: 100vh;

    box-sizing: border-box;
}

.nav-scrolled{
    background-color: var(--color-white-100);
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.45);
}


.-anim__scrollHidden {

    transform: translateY(calc((-100% * var(--scroll-direction)) - 100.1% ));
    transition-property: transform;
    transition-duration: .2s;
    transition-delay: var(--nav-transition-duration);
    transition-timing-function: ease-in-out;

}

.mainnav__container {

    width: 100%;
    box-sizing: border-box;
    /*overflow-x: clip; BREAKS MACOS SAFARI */

    position: fixed;
    z-index: 2;

    transition: 0.3s ease-in-out;
}

.mainnav__container .section{
    background-color: transparent;
}

.mainnav__content{
    padding-block: var(--sp-3);
}

.mainnav__bar {

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 2;

    pointer-events: none;

    grid-column: 2 / -2;
}

.mainnav__logo{
    width: 100%;
    max-width: 85px;
}

.mainnav__bar a{

    pointer-events: all;

}


.mainnav__icon {

    margin-left: auto;
    padding: var(--spacing-m);
    cursor: pointer;
    pointer-events: all;

}

.mainnav__icon::after {

    content: "";
    display: block;
    background-image: url("/assets/medias/svg/menu-burger.svg");
    background-size: contain; // Scales the image to fit within the container
    background-repeat: no-repeat; // Prevents tiling
    background-position: center; // Centers the image
    width: 21px;
    height: 21px;

    transition: 0.3s ease-in-out;

}

.mainnav__icon:first-child {

    margin-left: 0;
}


/*===================
= NAVIGATION 
===================*/

.mainnav__nav {

    width: 100%;
    height: 100vh;

    position: absolute;
    right: -100%;
    z-index: 1;

    background-color: var(--color-white-100);

    transition: all 0.3s ease-in-out;

}

.mainnav__list {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--sp-5);

}

.mainnav__list:last-of-type{
    position: absolute;
    bottom: 0;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: var(--sp-2);

    padding-bottom: var(--section-spacing);

    button {
        background-color: var(--color-red-100);
        border: none;

        p {
            color: var(--color-white-100);
            font-size: var(--txt-1);
        }
    }

    li:last-child button {
        background-color: var(--color-green-100);
    }
}

.mainnav__item h2{
    font-size: var(--txt-1);
    font-weight: 600;
    letter-spacing: normal;
    
}

.mainnav__item--active h2{
    
    text-decoration: underline;
    font-weight: bold;

}

/* ---- TOGGLE NAVIGATION ---- */

.mainnav__toggle {

    display: none;

}

.mainnav__toggle:checked ~ .mainnav__nav {

    top: 0;
    right: 0;
    z-index: 1;

}

.mainnav__toggle:checked ~ .mainnav__bar .mainnav__icon::after {

    background-image: url("/assets/medias/svg/menu-cross.svg");

}


/*===================
= MEDIA QUERIES
===================*/

@media all and (min-width: 1024px) {

    .mainnav__container {

        padding-inline: var(--spacing-xl);

    }

    .mainnav__content {

        flex-direction: row;

    }

    .mainnav__logo {

        width: 20vw;
        padding-inline: 0;

    }



    .mainnav__icon {

        display: none !important;

    }

    .mainnav__bar{
        grid-column: 2 / 3;
    }

    .mainnav__nav {

        width: 100%;
        position: relative;
        grid-row: 1 / 1;
        grid-column: 3 / -2;
        height: auto;
        right: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: none;

        background-color: transparent;

    }

    .mainnav__list {

        flex-direction: row;
        gap: var(--sp-5);
        justify-content: center;
        width: 100%;
        
    }
    
    .mainnav__list:last-of-type{
        position: relative;
        justify-content: right;
        width: fit-content;
        padding-bottom: 0;
    }

    .mainnav__item h2{

        font-size: var(--spacing-m);

    }

}

@media all and (min-width: 1440px){
    
    .mainnav__logo {

        max-width: 150px;

    }

    .mainnav__container {

        padding-inline: var(--spacing-xxl);

    }

    .mainnav__list{
        gap: var(--sp-10);
    }

}