.interactive-map{
    background-image: url("/assets/medias/img/Map.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--br-s);
}

@media all and (min-width: 1024px) {

    .interactive-map{
        grid-column: 3 / -3;
    }

}

@media all and (min-width: 1440px) {

    .interactive-map{
        grid-column: 3 / -3;
    }

}