---
permalink: 404.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section grid-layout error">
    <h1>404</h1>
    <div>
        <h2>Oops!</h2>
        <p>Nous n'avons pas trouvé la page que vous essayez de rejoindre.<br>Retournez à la page d'acceuil pour réessayer.</p>
        <a href="/"><button><p>Page d'acceuil</p></button></a>
    </div>
</div>

{% endblock %}
