---
permalink: community.html
---

{% extends "layouts/base.njk" %}

{% block content %}

{{ banner("assets/medias/img/Banner_Community.jpg", "Image abbaye", "banner--medium") }}

    <div class="section grid-layout">

        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--intro">
            <div class="community--intro-title">
                <img src="/assets/medias/svg/LOGO_Croix.svg" alt="">
                <h1>La vie spirituelle de l'abbaye</h1>
            </div>
            <p class="community--intro-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

    <div class="section grid-layout">
        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--life">
            <img src="/assets/medias/img/gallery-home_basilique.jpg" alt="">
            <div>
                <h3>La vie aujourd'hui</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="section grid-layout">

        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--pray">
            <div class="community--pray-title">
                <h1>Temps de prière</h1>
            </div>
            <p class="community--pray-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <ul class="section--dark grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--agenda">

            {% for day in community.agenda %}
            <li class="community--agenda-item">
                {% if day.subtitle %}
                <div>
                    <h3>{{ day.day }}</h3>
                    <h4>{{ day.subtitle }}</h4>
                </div>
                {% else %}
                <h3>{{ day.day }}</h3>
                {% endif %}
                <ul>
                    {% for slot in day.slots %}
                    <li>
                        <p>{{ slot.time }}</p>
                        <p>{{ slot.title }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}

        </ul>

    </div>

    <div class="section grid-layout">
        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--more">
            <img src="/assets/medias/img/image_Religious.webp" alt="">
            <div class="community--more-content">
                <div>
                    <h4>La vie à l'époque</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div>
                    <h4>Les cisterciens</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section grid-layout">
        <h2 class="community--news-title">Actualités</h2>
        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--news">
            <ul>
                {% for item in community.news %}
                <li class="community--news-item">
                    <img src="{{ item.image }}" alt="{{ item.alt }}">
                    <h5>{{ item.title }}</h5>
                    <p>{{ item.text | safe }}</p>
                    <p>{{ item.date }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="section grid-layout">
        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 community--charte">
            <h2>Charte de la communauté chrétienne du Val-Dieu</h2>
            <button> <p>Voir la charte</p> </button>
            <div>
                <p>L'écoute de Dieu passe aussi par la fréquentation des « trésors cachés » de toute la tradition chrétienne et du monachisme (les écrits des Pères de l'Église, des Pères cisterciens et des auteurs chrétiens). Ces trésors du christianisme ouvrent des chemins de conversion et de réconciliation. En se mettant à l'école de la miséricorde , l'être tout entier avec ses pauvretés, ses limites accepte de se laisser sauver par le Christ !
                Il n'y a pas de communion sans conversion et celle-ci est nécessairement le fruit de la Croix du Christ et de l'action de l'Esprit Saint dans chaque personne ainsi que dans la Communauté.
                </p>
                <p>Marcher ensemble, plutôt qu'individuellement, à la suite du Christ est une grâce d'Église. 
                Notre famille de la Congrégation Cistercienne de l'Immaculée Conception (CCIC) de l'Abbaye de Lérins est un soutien dans cette démarche. 
                Les nombreux échanges (retraites, séjours, correspondances…) sont de réelles « visitations » qui nous font goûter cette grâce communautaire.
                Vivre en Communauté ! Chacun à son rythme, sans aucun doute, chacun avec son histoire unique et irremplaçable, mais …ensemble !</p>
            </div>
        </div>
    </div>



{% endblock %}
