---
permalink: discover.html
---

{% extends "layouts/base.njk" %}

{% block content %}

{{ banner("assets/medias/img/Banner_Discover.webp", "Image abbaye", "banner--medium") }}

    <div class="section grid-layout">

        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 discover--intro">
            <div class="discover--intro-title">
                <img src="/assets/medias/svg/LOGO_Abbaye.svg" alt="" class="discover--intro-icon">
                <h1>Au coeur de l'Abbaye</h1>
            </div>
            <p class="discover--intro-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

    <div class="section grid-layout">

            <div class="discover--history grid-layout-desktop-12">
                <div class="discover--history-content section--dark grid-layout-desktop-7">
                    <h2>800 ans d’histoire</h2>
                    <h5>Plongez dans l’histoire de l’abbaye et découvrez les grandes étapes qui ont façonné ce lieu au fil des siècles.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                <div class="discover--history-image"></div>

            </div>

    </div>

    <div class="section grid-layout discover--diagram">
        <div class="diagram--abbaye">
            <img src="/assets/medias/svg/Abbaye.svg" alt="" class="">
        </div>
        
        <div class="diagram--diagonals">
            <img src="/assets/medias/svg/diagram_diagonal-left.svg" alt="">
            <img src="/assets/medias/svg/diagram_diagonal-right.svg" alt="">
        </div>
        <div class="diagram--step diagram--step-abbaye">
            <img src="assets/medias/svg/LOGO_Abbaye.svg" alt="">
            <h4 class="diagram-step-title">Abbaye</h4>
            <p class="diagram--step-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia perspiciatis unde. Optio accusamus placeat labore? Eaque harum vitae officiis magnam, accusamus nemo quo distinctio illum incidunt nobis esse tenetur.</p>
        </div>
        <div class="diagram--step diagram--step-brasserie">
            <img src="assets/medias/svg/LOGO_Brasserie.svg" alt="">
            <h4 class="diagram-step-title">Brasserie</h4>
            <p class="diagram--step-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia perspiciatis unde. Optio accusamus placeat labore? Eaque harum vitae officiis magnam, accusamus nemo quo distinctio illum incidunt nobis esse tenetur.</p>
        </div>
        <div class="diagram--step diagram--step-fromagerie">
            <img src="assets/medias/svg/LOGO_Brasserie.svg" alt="">
            <h4 class="diagram-step-title">Fromage</h4>
            <p class="diagram--step-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia perspiciatis unde. Optio accusamus placeat labore? Eaque harum vitae officiis magnam, accusamus nemo quo distinctio illum incidunt nobis esse tenetur.</p>
        </div>

    </div>

    <div class="section section--dark discover--timeline">
        <h2 class="discover--timeline-title">Au fil du temps...</h2>
        <div class="discover--timeline-content grid-layout">
            <ul class="timeline--dates">
                {% for item in discover.timeline %}
                <li class="timeline--date-item">
                    <label for="timeline-{{ loop.index0 }}" class="timeline--date-label">
                        <h5>{{ item.date }}</h5>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <ul class="timeline--cards">
                {% for item in discover.timeline %}
                <li class="timeline--card-item">
                    <input type="radio" class="timeline--card-input" name="timeline" id="timeline-{{ loop.index0 }}"{% if loop.first %} checked{% endif %}>
                    <div class="timeline--card-content grid-layout-desktop-8 grid-layout-wide-10 grid-layout-tablet-6 grid-layout-5">
                        <div class="timeline--card-header">
                            <h3>{{ item.date }}</h3>
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.text | safe }}</p>
                        </div>
                        <img src="{{ item.image }}" alt="{{ item.alt }}" class="timeline--card-img fluid-img">
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <style>
        .discover--timeline-content:has(#timeline-0:checked) .timeline--date-item:nth-child(1) h5,
        .discover--timeline-content:has(#timeline-1:checked) .timeline--date-item:nth-child(2) h5,
        .discover--timeline-content:has(#timeline-2:checked) .timeline--date-item:nth-child(3) h5,
        .discover--timeline-content:has(#timeline-3:checked) .timeline--date-item:nth-child(4) h5,
        .discover--timeline-content:has(#timeline-4:checked) .timeline--date-item:nth-child(5) h5,
        .discover--timeline-content:has(#timeline-5:checked) .timeline--date-item:nth-child(6) h5,
        .discover--timeline-content:has(#timeline-6:checked) .timeline--date-item:nth-child(7) h5,
        .discover--timeline-content:has(#timeline-7:checked) .timeline--date-item:nth-child(8) h5,
        .discover--timeline-content:has(#timeline-8:checked) .timeline--date-item:nth-child(9) h5
         {
            text-decoration: underline;
            font-weight: 500;
        }
    </style>

{% endblock %}
