---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{{ locale.code }}/discover/index.html"
eleventyComputed:
  language: "{{ locale.language }}"
  currentLocale: "{{ locale.code }}"
  currentPath: "/discover"
---

{% extends "layouts/base.njk" %}

{% set pageTitle = ('Discover' | t(currentLocale)) %}

{% block content %}

{{ banner("/assets/medias/img/Banner_Discover.webp", "Image abbaye", "banner--medium") }}

    <div class="section grid-layout">

        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 discover--intro">
            <div class="discover--intro-title">
                <img src="/assets/medias/svg/LOGO_Abbaye.svg" alt="" class="discover--intro-icon">
                <h1>{{ 'DiP-introTitle' | t(currentLocale) }}</h1>
            </div>
            <p class="discover--intro-txt">{{ 'DiP-introText' | t(currentLocale) }}</p>
        </div>

    </div>

    <div class="section grid-layout">

            <div class="discover--history grid-layout-desktop-12">
                <div class="discover--history-content section--dark grid-layout-desktop-7">
                    <h2>{{ 'DiP-historyTitle' | t(currentLocale) }}</h2>
                    <h5>{{ 'DiP-historySubtitle' | t(currentLocale) }}</h5>
                    <p>{{ 'DiP-historyText' | t(currentLocale) }}</p></div>
                <div class="discover--history-image"></div>

            </div>

    </div>

    <div class="section grid-layout discover--diagram">
        <div class="diagram--abbaye">
            <img src="/assets/medias/svg/Abbaye.svg" alt="" class="">
        </div>
        
        <div class="diagram--diagonals">
            <img src="/assets/medias/svg/diagram_diagonal-left.svg" alt="">
            <img src="/assets/medias/svg/diagram_diagonal-right.svg" alt="">
        </div>
        <div class="diagram--step diagram--step-abbaye">
            <img src="assets/medias/svg/LOGO_Abbaye.svg" alt="">
            <h4 class="diagram-step-title">{{ 'DiP-diagramTitle-01' | t(currentLocale) }}</h4>
            <p class="diagram--step-txt">{{ 'DiP-diagramText-01' | t(currentLocale) }}</p>
        </div>
        <div class="diagram--step diagram--step-brasserie">
            <img src="assets/medias/svg/LOGO_Brasserie.svg" alt="">
            <h4 class="diagram-step-title">{{ 'DiP-diagramTitle-02' | t(currentLocale) }}</h4>
            <p class="diagram--step-txt">{{ 'DiP-diagramText-02' | t(currentLocale) }}</p>
        </div>
        <div class="diagram--step diagram--step-fromagerie">
            <img src="assets/medias/svg/LOGO_Cheese.svg" alt="">
            <h4 class="diagram-step-title">{{ 'DiP-diagramTitle-03' | t(currentLocale) }}</h4>
            <p class="diagram--step-txt">{{ 'DiP-diagramText-03' | t(currentLocale) }}
            <br> <br>
            <a href="https://www.fromages-abbaye-du-val-dieu.be/fr/" target="_blank"><b>{{ 'DiP-diagramCAT-03' | t(currentLocale) }}</b></a></p>
        </div>

    </div>

    <div class="section section--dark discover--timeline">
        <h2 class="discover--timeline-title">{{ 'DiP-timelineTitle' | t(currentLocale) }}</h2>
        <div class="discover--timeline-content grid-layout">
            <ul class="timeline--dates">
                {% for item in discover[currentLocale].timeline %}
                <li class="timeline--date-item">
                    <label for="timeline-{{ loop.index0 }}" class="timeline--date-label">
                        <h5>{{ item.date }}</h5>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <ul class="timeline--cards">
                {% for item in discover[currentLocale].timeline %}
                <li class="timeline--card-item">
                    <input type="radio" class="timeline--card-input" name="timeline" id="timeline-{{ loop.index0 }}"{% if loop.first %} checked{% endif %}>
                    <div class="timeline--card-content grid-layout-desktop-8 grid-layout-wide-10 grid-layout-tablet-6 grid-layout-5">
                        <div class="timeline--card-header">
                            <h3>{{ item.date }}</h3>
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.text | safe }}</p>
                        </div>
                        <img src="{{ item.image }}" alt="{{ item.alt }}" class="timeline--card-img fluid-img">
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <style>
        {% for item in discover[currentLocale].timeline %}
        .discover--timeline-content:has(#timeline-{{ loop.index0 }}:checked) .timeline--date-item:nth-child({{ loop.index }}) h5{% if not loop.last %},{% endif %}
        {% endfor %} {
            text-decoration: underline;
            font-weight: 500;
        }
    </style>

{% endblock %}
