---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{{ locale.code }}/donation/index.html"
eleventyComputed:
  language: "{{ locale.language }}"
  currentLocale: "{{ locale.code }}"
  currentPath: "/donation"
---

{% extends "layouts/base.njk" %}

{% set pageTitle = ('SP-introCAT' | t(currentLocale)) %}

{% block content %}

{{ banner("/assets/medias/img/Banner_Donation.png", "Image abbaye", "banner--small") }}

<div class="section grid-layout">
    <div class="donation--intro">
        <h3>{{ 'DoP-introTitle' | t(currentLocale) }}</h3>
        <p>{{ 'DoP-introText' | t(currentLocale) }}</p>
    </div>
</div>

<div class="section grid-layout">
    <div class="donation--info">
        <h4>{{ 'Details' | t(currentLocale) }}</h4>
        <ul>
            <li><p>Fondation Roi Baudouin</p></li>
            <li><p>{{ 'Account' | t(currentLocale) }} : <span>BE10 0000 0000 0404</span></p></li>
            <li><p>BIC : <span>GEBABEBB</span></p></li>
            <li><p>{{ 'Strucutred communication' | t(currentLocale) }} : <span>623/3891/80075</span></p></li>
        </ul>
    </div>
    <hr>
    <img src="/assets/medias/svg/donation_qr.svg" alt="QR code pour faire un don">
    <p>{{ 'DoP-detailsText' | t(currentLocale) }}</p>
</div>

{% endblock %}
