---
permalink: guided-visits.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="section grid-layout">

        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 guided-visits--intro">
            <div class="guided-visits--intro-title">
                <h1>Visites Guidées</h1>
            </div>
            <p class="guided-visits--intro-txt">Cette visite guidée vous permet de découvrir le cloître et la nouvelle brasserie. Votre parcours débutera à l&#39;accueil, au fond de cour intérieure de l&#39;abbaye. En chemin,
            vous entrerez dans le jardin du cloître, la salle du chapitre et le réfectoire. Après
            l&#39;abbaye, la visite se poursuivra dans la brasserie où vous découvrirez la fabrication
            de la bière dans des bâtiments du 17ème siècle. L&#39;histoire du Val-Dieu et le brassage
            de la bière n&#39;auront (presque) plus de secrets pour vous !</p>
        </div>

    </div>

    <div class="section grid-layout guided-visits--book">

        <h2>Formulaire de réservation</h2>

        <div class="book--smallGroups">
            <h3 class="book--title">
                Groupe < 15

                IFRAME
            </h3>
        </div>
        <div class="book--bigGroups">
            <h3 class="book--title">Groupe > 15</h3>
            <form action="" class="guided-visits--form">
                form
            </form>
        </div>

        

    </div>


    <div class="section grid-layout">
        <div class="guided-visits--eat">
            <a href="https://www.val-dieu.com/casse-croute/" class="guided-visits--eat-link">
                <h4>Réserver au Casse Croûte</h4>
            </a>
        </div>
    </div>


{% endblock %}
