---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{% if locale.code != 'en' %}{{ locale.code }}/{% endif %}index.html"
eleventyComputed:
  language: "{{ locale.language }}"
  currentLocale: "{{ locale.code }}"
  currentPath: "/"
---

{% extends "layouts/base.njk" %}

{% block content %}

{{ banner("/assets/medias/img/Banner_Home.png", "Image abbaye", "banner--large") }}

<div class="section grid-layout">

    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-intro">
        <div class="hp-intro-txt">
            <h2>{{ 'HP-introTitle-01' | t(currentLocale) }}</h2>
            <h1>{{ 'HP-introTitle-02' | t(currentLocale) }}</h1>
        </div>
        <div class="hp-intro-img"></div>
        <p>{{ 'HP-introText' | t(currentLocale) }}</p>
        <a href="/discover" class="hp-intro-button">
            <button ><p>{{ 'Discover' | t(currentLocale) }}</p></button>
        </a>
    </div>

</div>

<div class="section grid-layout">

    <ul class="hp-gallery">
        {% for item in homepage[currentLocale].gallery %}
        <li class="hp--gallery-item">
            <img class="hp--gallery-img fluid-img" src="{{ item.image }}" alt="{{ item.alt }}">
        </li>
        {% endfor %}
    </ul>

</div>

<div class="section grid-layout">

    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-explore">
        <h2>{{ 'HP-exploreTitle' | t(currentLocale) }}</h2>
        <p>{{ 'HP-exploreText' | t(currentLocale) }}</p>
        <a href="/visit">
            <button><p>{{ 'Prepare visit' | t(currentLocale) }}</p></button>
        </a>
    </div>

    <ul class="hp-explore-list">

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--visit">
            <label class="hp-explore-label" for="hp-explore--visit">
                <img src="../assets/medias/svg/ICON_Parc.svg" alt="nature icon">
                <h5>{{ 'Visits' | t(currentLocale) }}</h5>
            </label>
            <div class="hp-explore-content">
                <p>{{ 'Visits-text' | t(currentLocale) }}</p>
            </div>
        </li>

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--walk">
            <label class="hp-explore-label" for="hp-explore--walk">
                <img src="../assets/medias/svg/ICON_Promenade.svg" alt="nature icon">
                <h5>{{ 'Walking' | t(currentLocale) }}</h5>
            </label>
            <div class="hp-explore-content">
                <p>{{ 'Walking-text' | t(currentLocale) }}</p>
            </div>
        </li>

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--shop">
            <label class="hp-explore-label" for="hp-explore--shop">
                <img src="../assets/medias/svg/ICON_Shop.svg" alt="nature icon">
                <h5>{{ 'Shop' | t(currentLocale) }}</h5>
            </label>
            <div class="hp-explore-content">
                <p>{{ 'Shop-text' | t(currentLocale) }}</p>
            </div>
        </li>

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--eat">
            <label class="hp-explore-label" for="hp-explore--eat">
                <img src="../assets/medias/svg/ICON_Food.svg" alt="nature icon">
                <h5>{{ 'Dining' | t(currentLocale) }}</h5>
            </label>
            <div class="hp-explore-content">
                <p>{{ 'Dining-text' | t(currentLocale) }}</p>
            </div>
        </li>

    </ul>
    
    {% include "partials/interactive-map.njk" %}

</div>

<div class="section section--dark grid-layout">

    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-book">
        <h5>{{ 'HP-bookTitle' | t(currentLocale) }}</h5>
        <a href="/guided-visits"><button> <p>{{ 'Book' | t(currentLocale) }}</p> </button></a>
    </div>

</div>

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-community">
        <div>
            <h2>{{ 'HP-communityTitle' | t(currentLocale) }}</h2>
        </div>
        <p>{{ 'HP-communityText' | t(currentLocale) }}</p>
        <a href="/community"><button><p>{{ 'HP-communityCTA' | t(currentLocale) }}</p></button></a>
    </div>
</div>

{% endblock %}
