---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

{{ banner("assets/medias/img/Banner_Home.png", "Image abbaye", "banner--large") }}

<div class="section grid-layout">

    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-intro">
        <div class="hp-intro-txt">
            <h2>Bienvenue à</h2>
            <h1>l'Abbaye de Val-Dieu</h1>
        </div>
        <div class="hp-intro-img"></div>
        <p>{{ homepage.introText }}</p>
        <button class="hp-intro-button"><p>Découvrir</p></button>
    </div>

</div>

<div class="section grid-layout">

    <ul class="hp-gallery">
        <li class="hp--gallery-item">
            <img class="hp--gallery-img fluid-img" src="assets/medias/img/gallery-home_basilique.jpg" alt="gallery image">
        </li>
        <li class="hp--gallery-item">
            <img class="hp--gallery-img fluid-img" src="assets/medias/img/gallery-home_parc.jpg" alt="gallery image">
        </li>
        <li class="hp--gallery-item">
            <img class="hp--gallery-img fluid-img" src="assets/medias/img/gallery-home_cloche.jpg" alt="gallery image">
        </li>
        <li class="hp--gallery-item">
            <img class="hp--gallery-img fluid-img" src="assets/medias/img/gallery-home_cassecroute.jpg" alt="gallery image">
        </li>
        <li class="hp--gallery-item">
            <img class="hp--gallery-img fluid-img" src="assets/medias/img/gallery-home_brasserie.jpg" alt="gallery image">
        </li>
    </ul>

</div>

<div class="section grid-layout">

    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-explore">
        <h2>Explorer l'Abbaye</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="/visit">
            <button><p>Préparer ma visite</p></button>
        </a>
    </div>

    <ul class="hp-explore-list">

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--visit">
            <label class="hp-explore-label" for="hp-explore--visit">
                <img src="../assets/medias/svg/ICON_Parc.svg" alt="nature icon">
                <h5>Visites</h5>
            </label>
            <div class="hp-explore-content">
                <p>Découvrez l'abbaye et plongez dans un lieu chargé d'histoire, de spiritualité et de patrimoine. Lors de votre visite, explorez l'architecture remarquable, les jardins paisibles et les différents.</p>
            </div>
        </li>

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--walk">
            <label class="hp-explore-label" for="hp-explore--walk">
                <img src="../assets/medias/svg/ICON_Promenade.svg" alt="nature icon">
                <h5>Se promener</h5>
            </label>
            <div class="hp-explore-content">
                <p>Découvrez l'abbaye et plongez dans un lieu chargé d'histoire, de spiritualité et de patrimoine. Lors de votre visite, explorez l'architecture remarquable, les jardins paisibles et les différents.</p>
            </div>
        </li>

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--shop">
            <label class="hp-explore-label" for="hp-explore--shop">
                <img src="../assets/medias/svg/ICON_Shop.svg" alt="nature icon">
                <h5>Magasin</h5>
            </label>
            <div class="hp-explore-content">
                <p>Découvrez l'abbaye et plongez dans un lieu chargé d'histoire, de spiritualité et de patrimoine. Lors de votre visite, explorez l'architecture remarquable, les jardins paisibles et les différents.</p>
            </div>
        </li>

        <li class="hp-explore-item">
            <input class="hp-explore-input" type="checkbox" id="hp-explore--eat">
            <label class="hp-explore-label" for="hp-explore--eat">
                <img src="../assets/medias/svg/ICON_Food.svg" alt="nature icon">
                <h5>Se restaurer</h5>
            </label>
            <div class="hp-explore-content">
                <p>Découvrez l'abbaye et plongez dans un lieu chargé d'histoire, de spiritualité et de patrimoine. Lors de votre visite, explorez l'architecture remarquable, les jardins paisibles et les différents.</p>
            </div>
        </li>

    </ul>
    
    {% include "partials/interactive-map.njk" %}

</div>

<div class="section section--dark grid-layout">

    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-book">
        <h5>Choisissez votre date et réservez facilement votre visite de l'abbaye.</h5>
        <a href="/guided-visits"><button> <p>Réserver</p> </button></a>
    </div>

</div>

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-9 grid-layout-wide-12 hp-community">
        <div>
            <h2>La communauté</h2>
        </div>
        <p>Pendant des siècles, l'abbaye a été marquée par la présence des moines cisterciens, dont la vie était rythmée par la prière, le travail et le silence. Leur spiritualité et leur manière de vivre ont profondément façonné ce lieu. Aujourd'hui encore, cet héritage continue d'imprégner l'abbaye et ses temps de recueillement.</p>
        <a href="/community"><button><p>Découvrir la communauté</p></button></a>
    </div>
</div>

{% endblock %}
