---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{{ locale.code }}/info-contact/index.html"
eleventyComputed:
  language: "{{ locale.language }}"
  currentLocale: "{{ locale.code }}"
  currentPath: "/info-contact"
---

{% extends "layouts/base.njk" %}

{% set pageTitle = ('Info&Contact' | t(currentLocale)) %}

{% block content %}

    <div class="section grid-layout info-contact">

        <img src="assets/medias/svg/Map.svg" alt="" class="info-contact--map">

        <aside class="info-contact--POI">
            <ul class="POI--list">
                <li class="POI--item">
                    <div class="POI--header">
                        <img src="assets/medias/svg/LOGO_Abbaye.svg" alt="" class="POI--icon">
                        <h4 class="POI--name">Abbaye du Val-Dieu</h4>
                    </div>
                    <div class="POI--infos">
                        <p class="POI--adress">Val-dieu, 227 à 4880 Aubel</p>
                        <p class="POI--mail">infotourist@val-dieu.net</p>
                    </div>
                </li>
                <li class="POI--item">
                    <div class="POI--header">
                        <img src="assets/medias/svg/LOGO_Brasserie.svg" alt="" class="POI--icon">
                        <h4 class="POI--name">{{ 'Brewery' | t(currentLocale) }}</h4>
                    </div>
                    <div class="POI--infos">
                        <p class="POI--adress">Val-dieu, 227 à 4880 Aubel</p>
                        <p class="POI--mail">info@val-dieu.com</p>
                    </div>
                </li>
                <li class="POI--item">
                    <div class="POI--header">
                        <img src="assets/medias/svg/LOGO_Restauration.svg" alt="" class="POI--icon">
                        <h4 class="POI--name">{{ 'Dining' | t(currentLocale) }}</h4>
                    </div>
                    <div class="POI--infos">
                        <p class="POI--adress">Val-dieu, 227 à 4880 Aubel</p>
                        <p class="POI--mail">info@cassecroutevaldieu.com</p>
                    </div>
                </li>
                <li class="POI--item">
                    <div class="POI--header">
                        <img src="assets/medias/svg/LOGO_Cheese.svg" alt="" class="POI--icon">
                        <h4 class="POI--name">{{ 'CheeseShop' | t(currentLocale) }}</h4>
                    </div>
                    <div class="POI--infos">
                        <p class="POI--adress">Rue de Charneux, 32 - 4650 HERVE</p>
                        <p class="POI--mail">info@fromages-abbaye-du-val-dieu.be</p>
                    </div>
                </li>
            </ul>
        </aside>

    </div>

    <div class="section grid-layout accessibility">
        <h2 class="accessibility--title">{{ 'Accessibility' | t(currentLocale) }}</h2>
        <ul class="accessibility--list">
            <li class="accessibility--item">
                <div class="accessibility--header">
                    <img src="assets/medias/svg/LOGO_Abbaye.svg" alt="" class="accessibility--icon">
                    <h3 class="accessibility-item--title">{{ 'Abbey' | t(currentLocale) }}</h3>
                </div>
                <ul class="accessibility-points--list">
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'Stroller' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Bicycle' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'PRM' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Dog' | t(currentLocale) }}</p>
                    </li>
                </ul>
            </li>
            <li class="accessibility--item">
                <div class="accessibility--header">
                    <img src="assets/medias/svg/LOGO_Parc.svg" alt="" class="accessibility--icon">
                    <h3 class="accessibility-item--title">{{ 'Park' | t(currentLocale) }}</h3>
                </div>
                <ul class="accessibility-points--list">
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'Stroller' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Bicycle' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'PRM' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Dog' | t(currentLocale) }}</p>
                    </li>
                </ul>
            </li>
            <li class="accessibility--item">
                <div class="accessibility--header">
                    <img src="assets/medias/svg/LOGO_Brasserie.svg" alt="" class="accessibility--icon">
                    <h3 class="accessibility-item--title">{{ 'Brewery' | t(currentLocale) }}</h3>
                </div>
                <ul class="accessibility-points--list">
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'Stroller' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Bicycle' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'PRM' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Dog' | t(currentLocale) }}</p>
                    </li>
                </ul>
            </li>
            <li class="accessibility--item">
                <div class="accessibility--header">
                    <img src="assets/medias/svg/LOGO_Map.svg" alt="" class="accessibility--icon">
                    <h3 class="accessibility-item--title">{{ 'Guided Visits' | t(currentLocale) }}</h3>
                </div>
                <ul class="accessibility-points--list">
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'Stroller' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Bicycle' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--yes">
                        <p class="accessibility-points--txt">{{ 'PRM' | t(currentLocale) }}</p>
                    </li>
                    <li class="accessibility-points--item accessibility-points--no">
                        <p class="accessibility-points--txt">{{ 'Dog' | t(currentLocale) }}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



{% endblock %}
