---
permalink: support.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 support--intro">
        <h1 class="community--intro-title">Soutenir l'abbaye</h1>
        <p class="community--intro-txt">Votre contribution permet de soutenir concrètement :la restauration et la conservation
        du patrimoine ; la sécurisation des bâtiments historiques ;les travaux d’entretien
        indispensables et la mise en valeur du site pour les générations futures.
        Chaque don, quel que soit son montant, participe directement à la préservation de ce
        lieu exceptionnel.
        Toute contribution est précieuse pour financer les travaux urgents de sauvegarde de
        l’Abbaye !
        Aidez-nous à transmettre ce lieu de paix aux générations futures.</p>
    </div>
</div>

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 support--history">
        <div>
            <h3 class="community--intro-title">800 ans d'histoire à préserver</h3>
            <p class="community--intro-txt">Entretenir et restaurer un lieu chargé de plus de huit siècles d’histoire demande une
            attention constante. Chaque pierre, chaque structure nécessite des soins réguliers
            pour que l’abbaye puisse continuer à accueillir visiteurs, promeneurs et passionnés
            de patrimoine.
            Chaque don, quel que soit son montant, contribue concrètement à préserver ce lieu
            unique pour les générations futures.</p>
            <button> <a href="/donation">
                <p>Faire un don</p>
            </a> </button>
        </div>

    </div>
</div>

<div class="section grid-layout support--projects">

    {% for project in support.projects %}
    <div class="grid-layout support--projects-item">
        <img src="{{ project.image }}" alt="{{ project.alt }}" class="fluid-img">
        <div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.text | safe }}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
