---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{{ locale.code }}/support/index.html"
eleventyComputed:
  language: "{{ locale.language }}"
  currentLocale: "{{ locale.code }}"
  currentPath: "/support"
---

{% extends "layouts/base.njk" %}

{% set pageTitle = ('Support' | t(currentLocale)) %}

{% block content %}

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 support--intro">
        <h1 class="community--intro-title">{{ 'SP-introTitle' | t(currentLocale) }}</h1>
        <p class="community--intro-txt">{{ 'SP-introText' | t(currentLocale) }}</p>
    </div>
</div>

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 support--history">
        <div>
            <h3 class="community--intro-title">{{ 'SP-historyTitle' | t(currentLocale) }}</h3>
            <p class="community--intro-txt">{{ 'SP-historyText' | t(currentLocale) }}</p>
            <button> <a href="/donation">
                <p>{{ 'SP-introCAT' | t(currentLocale) }}</p>
            </a> </button>
        </div>

    </div>
</div>

<div class="section grid-layout support--projects">

    {% for project in support[currentLocale].projects %}
    <div class="grid-layout support--projects-item">
        <img src="{{ project.image }}" alt="{{ project.alt }}" class="fluid-img">
        <div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.text | safe }}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
