---
permalink: support.html
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 support--intro">
        <h1 class="community--intro-title">Soutenir l'abbaye</h1>
        <p class="community--intro-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<div class="section grid-layout">
    <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 support--history">
        <div>
            <h3 class="community--intro-title">800 ans d'histoire à préserver</h3>
            <p class="community--intro-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button> <a href="/donation">
                <p>Faire un don</p>
            </a> </button>
        </div>

    </div>
</div>

<div class="section grid-layout support--projects">

    {% for project in support.projects %}
    <div class="grid-layout support--projects-item">
        <img src="{{ project.image }}" alt="{{ project.alt }}" class="fluid-img">
        <div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.text | safe }}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
