---
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "{{ locale.code }}/visit/index.html"
eleventyComputed:
  language: "{{ locale.language }}"
  currentLocale: "{{ locale.code }}"
  currentPath: "/visit"
---

{% extends "layouts/base.njk" %}

{% set pageTitle = ('Visit' | t(currentLocale)) %}

{% block content %}

{{ banner("/assets/medias/img/Banner_Visit.jpeg", "Image abbaye", "banner--small") }}

    <div class="section grid-layout">

        <div class="grid-layout-5 grid-layout-tablet-8 grid-layout-desktop-10 grid-layout-wide-12 discover--intro">
            <div class="discover--intro-title">
                <img src="/assets/medias/svg/LOGO_Map.svg" alt="" class="discover--intro-icon">
                <h1>{{ 'VP-introTitle' | t(currentLocale) }}</h1>
            </div>
            <p class="discover--intro-txt">{{ 'VP-introText' | t(currentLocale) }}</p>
        </div>

    </div>

    <div class="section grid-layout visit--activites">
        <div class="visit--activites-header grid-layout-desktop-12 grid-layout-tablet-8">
            <p class="activites--header-what">{{ 'VP-activitiesLabel' | t(currentLocale) }}</p>
            <h2 class="activites--header-title">{{ 'VP-activitiesTitle' | t(currentLocale) }}</h2>
            <p class="activites--header-txt">{{ 'VP-activitiesText' | t(currentLocale) }}</p>
        </div>
        <ul class="visit--activities-list">
            <a href="#visits" class="visit--activities-card visit--activities-visit">
                <div class="activities--card-content">
                    <h4 class="activities--card-title">{{ 'Guided Visits' | t(currentLocale) }}</h4>
                    <p class="activities--card-txt">{{ 'VP-activitiesDes-01' | t(currentLocale) }}</p>
                </div>
            </a>
            <a href="#eat" class="visit--activities-card visit--activities-eat">
                <div class="activities--card-content">
                    <h4 class="activities--card-title">{{ 'Dining' | t(currentLocale) }}</h4>
                    <p class="activities--card-txt">{{ 'VP-activitiesDes-02' | t(currentLocale) }}</p>
                </div>
            </a>
            <a href="#shop" class="visit--activities-card visit--activities-shop">
                <div class="activities--card-content">
                    <h4 class="activities--card-title">{{ 'Shop' | t(currentLocale) }}</h4>
                    <p class="activities--card-txt">{{ 'VP-activitiesDes-03' | t(currentLocale) }}</p>
                </div>
            </a>
                <a href="#walk" class="visit--activities-card visit--activities-walk">
                <div class="activities--card-content">
                    <h4 class="activities--card-title">{{ 'Walks' | t(currentLocale) }}</h4>
                    <p class="activities--card-txt">{{ 'VP-activitiesDes-04' | t(currentLocale) }}</p>
                </div>
            </a>
            <a href="#parc" class="visit--activities-card visit--activities-parc">
                <div class="activities--card-content">
                    <h4 class="activities--card-title">{{ 'Park' | t(currentLocale) }}</h4>
                    <p class="activities--card-txt">{{ 'VP-activitiesDes-05' | t(currentLocale) }}</p>
                </div>
            </a>
            <a href="#" class="visit--activities-card activities--card--disabled">
            </a>
        </ul>
    </div>

    <div class="section grid-layout">
        {% include "partials/interactive-map.njk" %}
    </div>

    <div class="section section--dark grid-layout">
        <ul class="visit--details-list">
            <li class="visit--details-item grid-layout-desktop-12 grid-layout-tablet-8" id="visits">
                <img src="/assets/medias/img/VISITE GUIDEE 2.jpg" alt="" class="visit--details-img fluid-img">
                <div class="visit--details-content">
                    <h3 class="visit--details-title">{{ 'Guided Visits' | t(currentLocale) }}</h3>
                    <p class="visit--details-txt">{{ 'VP-detailsDes-01' | t(currentLocale) }}</p>
                    <a href="/guided-visits"><button> <p>{{ 'Book' | t(currentLocale) }}</p> </button></a>
                </div>
            </li>
            <li class="visit--details-item grid-layout-desktop-12 grid-layout-tablet-8" id="eat">
                <img src="/assets/medias/img/image_Eat.png" alt="" class="visit--details-img fluid-img">
                <div class="visit--details-content">
                    <h3 class="visit--details-title">{{ 'Dining' | t(currentLocale) }}</h3>
                    <p class="visit--details-txt">{{ 'VP-detailsDes-02' | t(currentLocale) }}</p>
                    <a href="https://www.val-dieu.com/casse-croute/"><button> <p>Casse Croûte</p> </button></a>
                </div>
            </li>
            <li class="visit--details-item grid-layout-desktop-12 grid-layout-tablet-8" id="shop">
                <img src="/assets/medias/img/image_Shop.png" alt="" class="visit--details-img fluid-img">
                <div class="visit--details-content">
                    <h3 class="visit--details-title">{{ 'Shop' | t(currentLocale) }}</h3>
                    <p class="visit--details-txt">{{ 'VP-detailsDes-03' | t(currentLocale) }}</p>
                    <a href="https://shop.val-dieu.com/"><button> <p>{{ 'Shop' | t(currentLocale) }}</p> </button></a>
                </div>
            </li>
            <li class="visit--details-item grid-layout-desktop-12 grid-layout-tablet-8" id="walk">
                <img src="/assets/medias/img/image_Walk.png" alt="" class="visit--details-img fluid-img">
                <div class="visit--details-content">
                    <h3 class="visit--details-title">{{ 'Walking' | t(currentLocale) }}</h3>
                    <p class="visit--details-txt">{{ 'VP-detailsDes-04' | t(currentLocale) }}</p>
                </div>
            </li>
            <li class="visit--details-item grid-layout-desktop-12 grid-layout-tablet-8" id="parc">
                <img src="/assets/medias/img/image_Parc.png" alt="" class="visit--details-img fluid-img">
                <div class="visit--details-content">
                    <h3 class="visit--details-title">{{ 'Park' | t(currentLocale) }}</h3>
                    <p class="visit--details-txt">{{ 'VP-detailsDes-05' | t(currentLocale) }}</p>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
