<footer class="footer">
    <div class="section section--dark grid-layout">

        <h2>Abbaye<br>du Val-Dieu</h2>

        <div class="footer-content">
            <h5>Contact</h5>
            <div class="footer-list">
                <a href="/" class="footer-item"><p>Val-Dieu 227, 4880 Aubel</p></a>
                <a href="/" class="footer-item"><p>+(32) 87 69 28 28</p></a>
                <a href="/" class="footer-item"><p>infotourist@val-dieu.net</p></a>
                <a href="/" class="footer-item footer-item__social"><p>Facebook</p></a>
            </div>
        </div>

        <div class="footer-content">
            <h5>Aller Vers</h5>
            <div class="footer-list">
                <a href="/discover" class="footer-item"><p>Découvrir</p></a>
                <a href="/" class="footer-item"><p>Visiter</p></a>
                <a href="/community" class="footer-item"><p>Communauté</p></a>
                <a href="/" class="footer-item"><p>Info & Contact</p></a>
            </div>
        </div>
        
        <div class="footer-content footer-buttons">
            <button class="footer-button"><p>Réserver</p></button>
            <button class="footer-button"><p>Soutenir</p></button>
        </div>

        <div class="footer-content footer-langs">
            <ul>
                <li>
                    <a href="/" class="footer-lang selected-lang"><p>FR</p></a>
                </li>
                <li>
                    <a href="/" class="footer-lang"><p>NL</p></a>
                </li>
                <li>
                    <a href="/" class="footer-lang"><p>EN</p></a>
                </li>
                <li>
                    <a href="/" class="footer-lang"><p>DE</p></a>
                </li>
            </ul>
        </div>

        <div class="footer-content footer-legals">
            <ul>
                <li>
                    <a href="/"><p>Cookies</p></a>
                </li>
                <li>
                    <a href="/"><p>Privacy</p></a>
                </li>
                <li>
                    <a href="/"><p>T&C</p></a>
                </li>
            </ul>
        </div>

        <div class="footer-content footer-cr">
            <ul>
                <li>
                    <p>© 2026 Abbaye du Val-Dieu, Inc. All rights reserved <br> <a href="https://www.matestudio.be">Powered by Mate Studio</a></p>
                </li>
            </ul>
        </div>

    </div>
</footer>