<footer class="footer">
    <div class="section section--dark grid-layout">

        <h2>Abbaye<br>du Val-Dieu</h2>

        <div class="footer-content">
            <h5>{{ 'Contact' | t(currentLocale) }}</h5>
            <div class="footer-list">
                <a href="/" class="footer-item"><p>Val-Dieu 227, 4880 Aubel</p></a>
                <a href="/" class="footer-item"><p>+(32) 87 69 28 28</p></a>
                <a href="/" class="footer-item"><p>infotourist@val-dieu.net</p></a>
                <a href="/" class="footer-item footer-item__social"><p>Facebook</p></a>
            </div>
        </div>

        <div class="footer-content">
            <h5>{{ 'Go to' | t(currentLocale) }}</h5>
            <div class="footer-list">
                <a href="/discover" class="footer-item"><p>{{ 'Discover' | t(currentLocale) }}</p></a>
                <a href="/" class="footer-item"><p>{{ 'Visit' | t(currentLocale) }}</p></a>
                <a href="/community" class="footer-item"><p>{{ 'Community' | t(currentLocale) }}</p></a>
                <a href="/info-contact" class="footer-item"><p>{{ 'Info&Contact' | t(currentLocale) }}</p></a>
            </div>
        </div>
        
        <div class="footer-content footer-buttons">
            <a href="/guided-visits">
                <button  class="footer-button">
                    <p>{{ 'Book' | t(currentLocale) }}</p>
                </button>
            </a>
            <a href="/support">
                <button href="/support" class="footer-button">
                    <p>{{ 'Support' | t(currentLocale) }}</p>
                </button>
            </a>
        </div>

        <div class="footer-content footer-langs">
            {% set listClass = "" %}
            {% set linkClass = "footer-lang" %}
            {% include "partials/language-switcher.njk" %}
        </div>

        <div class="footer-content footer-legals">
            <ul>
                <li>
                    <a href="/"><p>Cookies</p></a>
                </li>
                <li>
                    <a href="/"><p>Privacy</p></a>
                </li>
                <li>
                    <a href="/"><p>T&C</p></a>
                </li>
            </ul>
        </div>

        <div class="footer-content footer-cr">
            <ul>
                <li>
                    <p>© 2026 Abbaye du Val-Dieu, Inc. All rights reserved <br> <a href="https://www.matestudio.be">Powered by Mate Studio</a></p>
                </li>
            </ul>
        </div>

    </div>
</footer>
