<footer class="footer">
    <div class="section section--dark grid-layout">

        <h2>Abbaye<br>du Val-Dieu</h2>

        <div class="footer-content">
            <h5>{{ 'Contact' | t(currentLocale) }}</h5>
            <div class="footer-list">
                <a href="https://www.google.com/maps/place/Val+Dieu+227,+4880+Aubel/@50.6983032,5.8018427,17z/data=!3m1!4b1!4m6!3m5!1s0x47c08d54255c332d:0x5ecfe2cc86b3302d!8m2!3d50.6983032!4d5.804423!16s%2Fg%2F11bw3y_bhn?entry=ttu&g_ep=EgoyMDI2MDYyOS4wIKXMDSoASAFQAw%3D%3D" class="footer-item"><p>Val-Dieu 227, 4880 Aubel</p></a>
                <a href="tel:+3287692828" class="footer-item"><p>+(32) 87 69 28 28</p></a>
                <a href="mailto:infotourist@val-dieu.net" class="footer-item"><p>infotourist@val-dieu.net</p></a>
                <a href="https://www.facebook.com/abbayeduValDieu/" target="_blank" class="footer-item footer-item__social"><p>Facebook</p></a>
            </div>
        </div>

        <div class="footer-content">
            <h5>{{ 'Go to' | t(currentLocale) }}</h5>
            <div class="footer-list">
                <a href="/discover" class="footer-item"><p>{{ 'Discover' | t(currentLocale) }}</p></a>
                <a href="/visit" class="footer-item"><p>{{ 'Visit' | t(currentLocale) }}</p></a>
                <a href="/community" class="footer-item"><p>{{ 'Community' | t(currentLocale) }}</p></a>
                <a href="/info-contact" class="footer-item"><p>{{ 'Info&Contact' | t(currentLocale) }}</p></a>
            </div>
        </div>
        
        <div class="footer-content footer-buttons">
            <a href="/guided-visits">
                <button  class="footer-button">
                    <p>{{ 'Book' | t(currentLocale) }}</p>
                </button>
            </a>
            <a href="/support">
                <button href="/support" class="footer-button">
                    <p>{{ 'Support' | t(currentLocale) }}</p>
                </button>
            </a>
        </div>

        <div class="footer-content footer-langs">
            {% set listClass = "" %}
            {% set linkClass = "footer-lang" %}
            {% include "partials/language-switcher.njk" %}
        </div>

        <div class="footer-content footer-legals">
            <ul>
                <li>
                    <a href="/assets/medias/pdf/Cookies.pdf"><p>Cookies</p></a>
                </li>
                <li>
                    <a href="/assets/medias/pdf/Privacy.pdf"><p>Privacy</p></a>
                </li>
                <li>
                    <a href="/assets/medias/pdf/TC.pdf"><p>T&C</p></a>
                </li>
            </ul>
        </div>

        <div class="footer-content footer-cr">
            <ul>
                <li>
                    <p>© 2026 Abbaye du Val-Dieu, Inc. All rights reserved <br> <a href="https://www.matestudio.be">Powered by Mate Studio</a></p>
                </li>
            </ul>
        </div>

    </div>
</footer>
