<div class="interactive-map">
    <span class="map--info" id="map--abbaye">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Abbaye.svg" alt="Icone d'abbaye" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--magasin">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Magasin.svg" alt="Icone de magasin" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--info">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Info.svg" alt="Icone d'information" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--restauration">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Restauration.svg" alt="Icone de restauration" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--bird">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Bird.svg" alt="Icone d'oiseau" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--wc">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_WC.svg" alt="Icone de WC" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--promenade">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Promenade.svg" alt="Icone de promenade" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--brasserie">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Brasserie.svg" alt="Icone de brasserie" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--parc">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Parc.svg" alt="Icone de parc" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--parking-01">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Parking_01.svg" alt="Icone de parking 01" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--parking-03">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Parking_03.svg" alt="Icone de parking 03" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
    <span class="map--info" id="map--parking-02">
        <a href="#" class="map--info-link">
            <img src="assets/medias/svg/LOGO_Parking_02.svg" alt="Icone de parking 02" class="map--info-img">
        </a>
        <p class="map--info-txt">lorem ipsum</p>
    </span>
</div>
