<nav class=" mainnav__container -anim__scrollHidden nav-not-scrolled">
    <div class="mainnav__content grid-layout">

        <input type="checkbox" name="mainnav-toggle" id="mainnav-toggle" class="mainnav__toggle">

        <div class="mainnav__bar">
            <a href="/">
                <img class="mainnav__logo" src="../assets/medias/svg/Val-Dieu-Logo.svg" alt="e2Logo">
            </a>
            <label for="mainnav-toggle" class="mainnav__icon material-symbols-outlined">
            </label>
        </div>


        <div class="mainnav__nav">  

            <ul class="mainnav__list">

                <li class="mainnav__item">
                    <a href="/discover" class="mainnav__link">
                        <h2>Découvrir</h2>
                    </a>
                </li>

                <li class="mainnav__item">
                    <a href="/" class="mainnav__link">
                        <h2>Visiter</h2>
                    </a>
                </li>
                <li class="mainnav__item">
                    <a href="/community" class="mainnav__link">
                        <h2>Communauté</h2>
                    </a>
                </li>
                <li class="mainnav__item">
                    <a href="/" class="mainnav__link">
                        <h2>Info & Contact</h2>
                    </a>
                </li>

            </ul>

            <ul class="mainnav__list">

                <li>
                    <a href="/" class="mainnav__link">
                        <button><p>Réserver</p></button>
                    </a>
                </li>

                <li>
                    <a href="/support" class="mainnav__link">
                        <button><p>Soutenir</p></button>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>